.page-chapter {
	background: #fafafa;
	position: fixed;
	right: 0;
	padding: 8px;
	height: 100%;
	overflow-y: auto;
	font-size: 12px;
	border-left: 1px solid #ccc;
}

.page-chapter a {
	color: black;
}

.page-chapter a:hover,
.page-chapter .item.active a {
	color: #4183c4;
}

.page-chapter .item {
	padding-bottom: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.page-chapter .item-h1 {
	font-weight: bold;
	padding-bottom: 8px;
}

.page-chapter .item-h2 {
	padding-bottom: 4px;
}

.page-chapter .item-h3 {
	padding-left: 1em;
	padding-bottom: 4px;
}

.page-chapter .item-h4 {
	padding-left: 2em;
}

.page-chapter .item-h5 {
	padding-left: 3em;
}

.page-chapter .item-h6 {
	padding-left: 4em;
	color: gray;
}